@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

/* HEADER LINKS */

h1 {
    font-size: 48px;
    font-weight: bolder;
}

.header-container {
    background-color: #1f2937;
    color: white;
    padding: 0 15rem;
    padding-top: 20px;
}

.logo {
    font-size: 24px;
    cursor: default;
    font-weight: bold;
}

.nav-links {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #d6e2f3;
}

/* HEADER BODY */

.header-body {
    display: flex;
    padding: 8rem 0;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.header-text {
    width: 450px;
    font-size: 18px;
}

.header-image {
    height: auto;
    width: 450px;
    border-radius: 10px;
}

button {
    background-color: rgb(31, 31, 238);
    color: white;
    padding: 8px 30px;
    font-size: 18px;
    margin-top: 15px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: rgb(5, 5, 126);
    transition: 1s;
}

/* section 2 */

h2 {
    text-align: center;
    padding-top: 3rem;
    font-size: 36px;
    font-weight: bold;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 8rem;
}

.card {
    width: 300px;
}

.card-image {
    height: auto;
    width: 300px;
    border-radius: 10px;
}

.text {
    font-size: 18px;
}

/* SECTION THREE */

.container-three {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 8rem 15rem;
}

.quote {
    font-size: 38px;
    color: #1f2937;
    font-style: italic;
}

.name {
    font-weight: bold;
    font-size: 22px;
    text-align: end;
    padding-right: 3rem;
}